body {
    font-family: Palatino, serif;
    text-align: center;
}

.topMargin {
    height: 125px;
    overflow: hidden;
    width: auto;
    text-align: center;
    /* background-image: url("images/shapes.gif"); */
}


.morningBox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 400px;
    height: auto;
    border: 4px solid #000000;
    border-radius: 25px/30px;
    padding: 20px;
    font-weight: bold;
}
  
    
.dailyGoal {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 800px;
        height: auto;
        border: 4px solid #000000;
        border-radius: 25px/30px;
        padding: 20px;
}

.taskLib {
    border-radius: 50px/50px;
    border: 2px solid #000000;
    width: 90%;
    padding: 10px;
    height: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("images/Headspace-Guide-to-Meditation.jpeg");
    opacity: 0.8
}

article {
    border-radius: 50px/50px;
    border: 2px solid #000000;
    width: 90%;
    padding: 10px;
    height: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5faff;
}